.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.trybewarts-login {
  border: 1px solid red;
  display: flex;
  align-items: center;
}

#email {
  height: 25px;
  width: 200px;
}

#password {
  height: 25px;
  width: 200px;
}

#send {
  border: 1px solid rgb(37, 105, 42);
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  font-size: 13px;
  padding: 6px 10px;
  text-decoration: none;
}

#send:hover {
  background-color: rgb(37, 105, 42);
}

#input-name {
  height: 25px;
  width: 200px;
}

#input-lastname {
  height: 25px;
  width: 200px;
}

#input-email {
  height: 25px;
  width: 200px;
}

textarea {
  resize: none;
  width: 500px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#fullname {
  flex-direction: row;
  margin-top: 20px;
}

#dados {
  flex-direction: row;
  margin: 5px;
}

main {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

#photo {
  width: 98vw;
  height: 15vh;
  display: flex;
  justify-content: flex-end;
}

#label-family {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 10px;
}

#label-content {
  display: flex;
  flex-direction: column;
}

#submit-btn {
  background-color: rgb(77, 43, 130);
  color: white;
  width: 80%;
  height: 40px;
  font-size: 15px;
  text-align: center;
  font-weight: 900;
}

#submit-btn:disabled {
  background-color: gray;
}

#submit-btn:enabled:hover {
  background-color: blueviolet;
  cursor: grab;
}

#counter {
  margin-top: -0.5%;
  font-size: 15px;
}
